$white: hsl(0, 0%, 100%);


.header {
    background-image: url("../images/mobile/image-header.jpg");
    //background-position: 50px 0px center; 
    background-size: 100% 700px;
    background-repeat: no-repeat;
    height: 650px;
    @include media-breakpoint-up(lg){
        background-image: url("../images/desktop/image-header.jpg");
    }
}

.navbar-toggle {
    background-color: transparent !important;
    border: none;
    margin-top: 20px;
    margin-right: 20px;
    float: right;
}

.navbar-collapse {
    @include media-breakpoint-up(lg) {
        margin-left: auto;
    }
    ul {
        @include media-breakpoint-up(lg) {  
        padding:0;
        margin-top: 30px !important;
        //margin:0;
        float:right;
        display: flex;
        }
    }
    li {
    display: none;
    @include media-breakpoint-up(lg) {
       display: inline;
       margin-right: 20px;
       float: left;
    }
  }
}

.hamburger {
    @include media-breakpoint-up(lg) {
        display: none;
    }
}

.navbar-collapse.shown  {
    margin-top: 40px;
    position: absolute;
    width: 85%;
    background-color: $white;
    height: 450px;
    //margin-top: 20px;
    margin-left: 20px;
    margin-right: 30px;
    // position: relative;
    &::before {
        content: "";
        position: absolute;
        margin-top: -8%;
        right: 0;
        width: 0;
        height: 0;
        background-color: transparent;
        border-left: 40px solid transparent;
        border-bottom: 40px solid transparent;
        border-top: 40px solid transparent;
        border-right: 40px solid $white;
    }
    li {
        display: block;
    }
}

// .nav-brand {
//     @include media-breakpoint-up(lg) {
//         float: left;
//     }
// }

.container-fluid {
    @include media-breakpoint-up(lg) {
    display: flex;
    }
  }

.logo {
    margin: 30px !important;
   
    @include media-breakpoint-up(lg){
       width: 100%;
       margin: 0 auto;
        padding: 7.5px 10px 7.5px 0;
    }
    
}



.arrow {
    margin-top: 50px;
}